.container {
  margin: 2rem;

  .row {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;

    .icon_symbol {
      display: flex;
      margin-left: 0.5rem;
      align-items: flex-start;
    }

    .icon_text {
      font-size: 1rem;
      align-self: flex-start;
    }
  }

  .row_1 {
    margin-right: 3rem;

    .icon_text {
      margin-bottom: 1rem;
      display: inline-block;
    }

    .row_2 {
      margin-right: 0.8rem;
      display: flex;
      // align-items: center;

      .icon_text {
        align-self: center;
      }

      .row_line {
        width: 2px;
        background-color: black;
        margin-left: 3px;
      }
    }
  }
}
