.container {
  margin: 2rem;

  .row {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;

    .icon_symbol {
      display: flex;
      margin-left: 0.5rem;
      align-items: flex-start;
    }

    .icon_text {
      font-size: 1rem;
      align-self: flex-start;
    }
  }
}
