.container {
  margin: 2rem;

  .row {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;

    .heading_1 {
    }

    .heading {
      cursor: pointer;
    }

    .icon_symbol {
      display: flex;
      margin-left: 0.5rem;
      align-items: flex-start;
    }

    .icon_text {
      font-size: 1rem;
      align-self: flex-start;
      cursor: pointer;
    }
  }

  .row_1 {
    margin-right: 3rem;

    .icon_text {
      margin-bottom: 1rem;
      display: inline-block;
      cursor: pointer;
    }

    .row_2 {
      margin-right: 0.8rem;
      display: flex;

      .icon_text_2 {
        color: gray;
        margin-bottom: 1rem;
        cursor: pointer;
      }

      .icon_text_2_active {
        @extend .icon_text_2;
        color: red;
        cursor: pointer;
      }

      .row_line {
        width: 1px;
        height: 2rem;
        background-color: lightgrey;
        margin-left: 0.4rem;
        cursor: pointer;
      }

      .row_line_active {
        @extend .row_line;
        background-color: red;
      }
    }
  }
}
